<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>Phantom | Personal Resume Template</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="../static/main/css/themefisher-fonts.min.css">
        <link rel="stylesheet" href="../static/main/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/main/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/main/css/main.css">
        <link rel="stylesheet" href="../static/main/css/dark.css">
        <link id="color-changer" rel="stylesheet" href="../static/main/css/colors/color-0.css">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        <div class="preview-wrapper">
            <div class="switcher-head">
                <span>Style Switcher</span>
                <div class="switcher-trigger tf-tools"></div>
            </div>

            <div class="switcher-body">
                <h4>Choose Color:</h4>
                <ul class="color-options list-none">
                    <li class="c0" data-color="color-0" title="Default">Default</li>
                    <li class="c1" data-color="color-1" title="Red">Red</li>
                    <li class="c2" data-color="color-2" title="Green">Green</li>
                    <li class="c3" data-color="color-3" title="Blue">Blue</li>
                </ul>
            </div>
        </div>

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-works relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close">    </i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2>My <span class="primary">Articles & Presentations</span> <span class="title-bg">works</span></h2>
                                    <p>A sample of articles and presentations.</p>
                                </div>
                            </div>                            
                        </div> <!-- /.row -->

                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="filter list-inline">
                                    <li><a href="#" class="active" data-filter="*">All</a></li>
                                    <li><a href="#" data-filter=".gen_ds">Data Science</a></li>
                                    <li><a href="#" data-filter=".driving">Driving into the Unknown</a></li>
                                    <li><a href="#" data-filter=".articles">Articles</a></li>
                                    <li><a href="#" data-filter=".presentations">Presentations</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row isotope-gutter">
                            <div class="col-xs-12 col-sm-6 col-md-4 gen_ds articles">
                                <figure class="works-item">
                                    <img src="..\static\main\img\articles\Seeing in All Directions Requires Business Analytics and Intelligence.jpg" alt="">
                                    <a href="https://www.linkedin.com/pulse/seeing-all-directions-requires-business-analytics-brian-neely/">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Seeing in All Directions</h4>
                                        <p>What is the difference between </br> Analytics and Intelligence for businesses?</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 gen_ds driving articles">
                                <figure class="works-item">
                                    <img src="..\static\main\img\articles\Driving into the Unknown of Analytics (Part 1).jpg" alt="">
                                    <a href="https://www.linkedin.com/pulse/driving-unknown-analytics-part-1-growth-change-community-neely/">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Driving into the <br> Unknown of Analytics (Part 1)</h4>
                                        <p>The Growth and Change of the Analytics Community</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 gen_ds driving articles">
                                <figure class="works-item">
                                    <img src="..\static\main\img\articles\Driving into the Unknown of Analytics (Part 2).jpg" alt="">
                                    <a href="https://www.linkedin.com/pulse/driving-unknown-analytics-part-2-model-brian-neely/">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Driving into the <br> Unknown of Analytics (Part 2)</h4>
                                        <p>The Model T of analytics</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 gen_ds driving articles">
                                <figure class="works-item">
                                    <img src="..\static\main\img\articles\Driving into the Unknown of Analytics (Part 3).jpg" alt="">
                                    <a href="https://www.linkedin.com/pulse/driving-unknown-analytics-part-3-model-brian-neely/">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Driving into the <br> Unknown of Analytics (Part 3)</h4>
                                        <p>The Model A of analytics</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 gen_ds driving articles">
                                <figure class="works-item">
                                    <img src="..\static\main\img\articles\Driving into the Unknown of Analytics (Part 4).jpg" alt="">
                                    <a href="https://www.linkedin.com/pulse/driving-unknown-analytics-part-4-predicting-what-consumers-neely/">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Driving into the <br> Unknown of Analytics (Part 4)</h4>
                                        <p>Predicting what Consumers Wanted</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 gen_ds presentations">
                                <figure class="works-item">
                                    <img src="..\static\main\img\articles\odsc_east_2019.jpg" alt="">
                                    <a href="https://odsc.com/speakers/business-ai-how-keyence-uses-ai-to-answer-everyday-business-questions/">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>ODSC East 2019 <br> How Keyence uses AI</h4>
                                        <p>How large businesses use AI in their day to day work</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 gen_ds presentations">
                                <figure class="works-item">
                                    <img src="..\static\main\img\articles\tc19.jpg" alt="">
                                    <a href="https://www.kaggle.com/neelybd/tc19-adding-ai-to-your-bi/activity">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>ODSC East 2019 <br> Adding AI to your BI</h4>
                                        <p>How to use a Prescriptive AFE/AutoML AI for BI</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page"><a href="datascience" class="link">&larr; Prev Page</a></span>
                                <span class=""><a href="/" class="link">Neelybd</a></span>
                                <span class="next-page"><a href="business" class="link">Next Page &rarr;</a></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->
                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="../static/main/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="../static/main/js/vendor/bootstrap.min.js"></script>
        <script src="../static/main/js/jquery.easing.min.js"></script>
        <script src="../static/main/js/isotope.pkgd.min.js"></script>
        <script src="../static/main/js/jquery.nicescroll.min.js"></script>
        <script src="../static/main/js/owl.carousel.min.js"></script>
        <script src="../static/main/js/jquery-validation.min.js"></script>
        <script src="../static/main/js/form.min.js"></script>
        <script src="../static/main/js/main.js"></script>
    </body>
</html>