<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>Brian Neely</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="../static/main/css/themefisher-fonts.min.css">
        <link rel="stylesheet" href="../static/main/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/main/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/main/css/main.css">
        <link rel="stylesheet" href="../static/main/css/dark.css">
        <link id="color-changer" rel="stylesheet" href="../static/main/css/colors/color-0.css">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        <div class="preview-wrapper">
            <div class="switcher-head">
                <span>Style Switcher</span>
                <div class="switcher-trigger tf-tools"></div>
            </div>

            <div class="switcher-body">
                <h4>Choose Color:</h4>
                <ul class="color-options list-none">
                    <li class="c0" data-color="color-0" title="Default">Default</li>
                    <li class="c1" data-color="color-1" title="Red">Red</li>
                    <li class="c2" data-color="color-2" title="Green">Green</li>
                    <li class="c3" data-color="color-3" title="Blue">Blue</li>
                </ul>
            </div>
        </div>

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-quotes relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2>My <span class="primary">business</span><span class="title-bg">NEELYBD</span></h2>
                                    <p>Neelybd is my business that focuses on Data Science, Manufacturing and Cryptomining.</p>
                                </div>
                            </div>                            
                        </div> <!-- /.row -->

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="testimonials">
                                    <div class="item clear">
                                        <figure class="thumb">
                                            <div class="tm-hex" style="background-image: url('../static/main/img/business/svr4.jpg');">
                                                <div class="hexTop"></div>
                                                <div class="hexBottom"></div>
                                            </div>
                                            <figcaption>
                                                <h4>Cryptomining</h4>
                                                <span>SVR4</span>
                                            </figcaption>
                                        </figure>
                                        <div class="text">
                                            <p>Neelybd mines several cryptocurrecies with dedicated miners. With an average hash rate of 450 MH/s in DaggerHashimoto. </p>
                                        </div>
                                    </div>
                                    <div class="item clear">
                                        <figure class="thumb">
                                            <div class="tm-hex" style="background-image: url('../static/main/img/business/cigar_box.png');">
                                                <div class="hexTop"></div>
                                                <div class="hexBottom"></div>
                                            </div>
                                            <figcaption>
                                                <h4>Specialty Manufacturing</h4>
                                                <span>CNC Machining</span>
                                            </figcaption>
                                        </figure>
                                        <div class="text">
                                            <p>With a Shapeoko CNC Router, Neelybd make specialty wood products from Cigar Boxes to Signs. </p>
                                        </div>
                                    </div>
                                    <div class="item clear">
                                        <figure class="thumb">
                                            <div class="tm-hex" style="background-image: url('../static/main/img/business/server.jpg');">
                                                <div class="hexTop"></div>
                                                <div class="hexBottom"></div>
                                            </div>
                                            <figcaption>
                                                <h4>Data Processing and Storage</h4>
                                                <span>Online and Local</span>
                                            </figcaption>
                                        </figure>
                                        <div class="text">
                                            <p>4 Servers with a triple redundent maximum storage of 64 TB, and processing capability of 58 Processing Cores and 5 AI Compute GPUs. </p>
                                        </div>
                                    </div>
                                    <div class="item clear">
                                        <figure class="thumb">
                                            <div class="tm-hex" style="background-image: url('../static/main/img/business/3d_print.png');">
                                                <div class="hexTop"></div>
                                                <div class="hexBottom"></div>
                                            </div>
                                            <figcaption>
                                                <h4>Custom 3D Printing</h4>
                                                <span>From bits to plastic.</span>
                                            </figcaption>
                                        </figure>
                                        <div class="text">
                                            <p>Using Fusion 360, Neelybd custom cad files and create products with SLA (Resin) and FDM (Extrusion) 3D Printers. </p>
                                        </div>
                                    </div>
                                    <div class="item clear">
                                        <figure class="thumb">
                                            <div class="tm-hex" style="background-image: url('../static/main/img/business/WoData.png');">
                                                <div class="hexTop"></div>
                                                <div class="hexBottom"></div>
                                            </div>
                                            <figcaption>
                                                <h4>World of Data</h4>
                                                <span>Youtube Channel</span>
                                            </figcaption>
                                        </figure>
                                        <div class="text">
                                            <p>An explation of how data effects our day to day lives and how to leverage it.</p>
                                        </div>
                                    </div>
                                    <div class="item clear">
                                        <figure class="thumb">
                                            <div class="tm-hex" style="background-image: url('../static/main/img/business/is-it_still_viable.jpg');">
                                                <div class="hexTop"></div>
                                                <div class="hexBottom"></div>
                                            </div>
                                            <figcaption>
                                                <h4>Last Option Available</h4>
                                                <span>Youtube Channel</span>
                                            </figcaption>
                                        </figure>
                                        <div class="text">
                                            <p>An explation of how data effects our day to day lives and how to leverage it.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page"><a href="/works" class="link">&larr; Prev Page</a></span>
                                <span class=""><a href="/" class="link">Neelybd</a></span>
                                <span class="next-page"><a href="/contact" class="link">Next Page &rarr;</a></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="../static/main/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="../static/main/js/vendor/bootstrap.min.js"></script>
        <script src="../static/main/js/jquery.easing.min.js"></script>
        <script src="../static/main/js/isotope.pkgd.min.js"></script>
        <script src="../static/main/js/jquery.nicescroll.min.js"></script>
        <script src="../static/main/js/owl.carousel.min.js"></script>
        <script src="../static/main/js/jquery-validation.min.js"></script>
        <script src="../static/main/js/form.min.js"></script>
        <script src="../static/main/js/main.js"></script>
    </body>
</html>